{{define "body"}}
    INVOICE INFORMATION EMAIL

    Invoice Information : 

    
    Here is information about you're purchasing invoice
    Please ignoring if this message is not coming from you..

    PLease check your email attachment for invoice, thank you
    --
    Widgets.co
{{end}}