{{define "body"}}
<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h1> INVOICE INFORMATION EMAIL </h1>
        <br/>
        <hr>

        <h3> Invoice Information : </h3>
        <br>
        
        <p> Here is information about you're purchasing invoice </p>
        <p> Please ignoring if this message is not coming from you..</p>
        <br>

        <p>PLease check your email attachment for invoice, thank you</p>
        <br>
        <p>--</p>
        <p>Widgets.co</p>
    </body>
</html>

{{end}}