{{define "body"}}
    PASSWORD RESETIING EMAIL

    Paswword Resetting Information : 

    
    We got information that you requesting for reset password
    Please ignoring if this message is not coming from you..

    PLease visit this link below to change password
    {{.Link}}
    Link will be expired in 60 minute
    --
    Widgets.co
{{end}}