{{define "body"}}
<!doctype html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <h1> PASSWORD RESETIING EMAIL </h1>
        <br/>
        <hr>

        <h3> Paswword Resetting Information : </h3>
        <br>
        
        <p> We got information that you requesting for reset password </p>
        <p> Please ignoring if this message is not coming from you..</p>
        <br>

        <p>PLease visit this link below to change password</p>
        <p> <a href="{{.Link}}"> change </a> </p>
        <br>
        <p>Link will be expired in 60 minute</p>
        <br>
        <p>--</p>
        <p>Widgets.co</p>
    </body>
</html>

{{end}}