{{template "base" .}}

{{define "title"}}
    Forgot Password 
{{end}}

{{define "content"}}
    <div class="row">
        <div class="cols">
                <h2 class="mt-5 text-center"> Reset Password </h2>
                <div class="alert alert-danger text-center d-none" id="messages"></div>
                <form action="" method="post" class="form d-block needs-validation charge-form mt-5"
                        autocomplete="off" novalidate="" id="form_reset">

                    <div class="mb-3">
                        <label for="last-name" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                            required="" autocomplete="cardholder-name-new">
                    </div>

                    <hr>

                    <a id="reset-button" href="javascript:void(0)" class="btn btn-primary" onclick="val()">Send Reset Link</a>
                    <div id="processing-reset" class="text-center d-none">
                        <div class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        // get element login messages form html
        let messages = document.getElementById("messages");
        let processing = document.getElementById("processing-reset");
        let resetButton = document.getElementById("reset-button");

        // create function to show error message
        function showErrorMessage(msg) {
            // show card messages
            messages.classList.remove("d-none");
            // add alert messages
            messages.classList.add("alert-danger");
            // remove success alert
            messages.classList.remove("alert-success");
            // add message
            messages.innerText = msg;
        }

        // create function to show success message
        function showSuccessMessage(msg) {
            // show card messages
            messages.classList.remove("d-none");
            // add alert messages
            messages.classList.remove("alert-danger");
            // remove success alert
            messages.classList.add("alert-success");
            // add message
            messages.innerText = msg;
        }

        // create function to hide payment button
        function hideResetBtn() {
            // set pay button classs to d non
            resetButton.classList.add("d-none");

            // set d none class empty in processing
            processing.classList.remove("d-none");
        }

        // create function to show pay button
        function showResetButton() {
            // show button
            resetButton.classList.remove("d-none");
            // stop showing processing
            processing.classList.add("d-none");
        }

        function val() {
            console.log("user click login button");

            let myForm = document.getElementById("form_reset");

            // check if form validate success or not
            if(myForm.checkValidity() === false) {
                this.event.preventDefault();
                this.event.stopPropagation();
                myForm.classList.add("was-validated");
                return;
            }

            hideResetBtn();

            // add info that form was validated
            myForm.classList.add("was-validated");

            // create payload object to past as post request
            let payload = {
                email: document.getElementById("email").value,
            };

            // create option to pass as body for post request
            let options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    'Accept': 'application/json',
                },
                body: JSON.stringify(payload)
            }

            // create request
            fetch("http://localhost:4001/api/reset-password", options)
                .then(response => response.json())
                .then(response => {
                    console.log(response);
                    // check for response
                    if (response.ok === false) {
                        // if there is no error
                        console.log("success resetting password");
                        // get message from response
                        let messageResp = response.message;
                        showSuccessMessage(messageResp);
                        showResetButton();
                    } else {
                        // if there is an error
                        // show error message
                         // get message from response
                        let messageResp = response.message;
                        console.log("error when happen when login");

                        // show error response
                        showErrorMessage(messageResp);
                        showResetButton();
                    }
                });
        }
    </script>
{{end}}
